<div class="list card">
    <div class="item item-avatar">
        <img src="img/icon48.png" />
        <h2>The Wallet</h2>
        <p>Uma simples carteira.</p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Como funciona?</strong></div>
            Digite um texto com o valor gasto ou ganho e a carteira vai fazer automaticamente o seu balanço.
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Contas e Tags</strong></div>
            Para adicionar uma tag utilize o <strong>#</strong> e para adicionar uma conta utilize o <strong>@</strong>. Ex.:
            <code>#MinhaTag @MinhaConta</code>
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Entradas</strong></div>
            Utilize o <strong>+</strong> na frente do número. Ex.:
            <code>+10,00</code>
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Saídas</strong></div>
            Apenas escreva o número ou coloque o <strong>-</strong> na frente. Ex.:
            <code>12,00</code>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-only">
        <a class="tab-item" ng-click="open('http://www.facebook.com/folksilva')" target="_blank">
            <i class="icon ion-social-facebook"></i>
        </a>
        <a class="tab-item" ng-click="open('http://www.twitter.com/folksilva')" target="_blank">
            <i class="icon ion-social-twitter"></i>
        </a>
        <a class="tab-item" ng-click="open('http://www.github.com/folksilva')" target="_blank">
            <i class="icon ion-social-github"></i>
        </a>
    </div>
</div>