<div class="list card">
    <div class="item item-avatar">
        <img src="img/icon48.png" />
        <h2>The Wallet</h2>
        <p>A simple wallet.</p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>How works?</strong></div>
            Type text with the expense or gain value and the portfolio will automatically make your swing.
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Accounts and Tags</strong></div>
            To add a tag use the <strong>#</strong> and to add an account and use the <strong>@</strong>. Ex.:
            <code>#MyTag @MyAccount</code>
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Gains</strong></div>
            Use the <strong>+</strong> in front of the number. Ex.:
            <code>+10.00</code>
        </p>
    </div>
    <div class="item item-body">
        <p>
            <div><strong>Expenses</strong></div>
            Just type the number or place the <strong>-</strong> in front. Ex.:
            <code>12.00</code>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-only">
        <a class="tab-item" ng-click="open('http://www.twitter.com/intent/tweet?text=Estou%20usando%20o%20%23theWallet%20para%20gerenciar%20minhas%20finan%C3%A7as')" target="_blank">
            <i class="icon ion-social-twitter"></i>
        </a>
        <a class="tab-item" ng-click="open('http://www.github.com/folksilva/thewallet')" target="_blank">
            <i class="icon ion-social-github"></i>
        </a>
    </div>
</div>