.balance {
    border-radius: 8px;
}
.balance .symbol {
    float: left;
    font-weight: bold;
    font-size: 1rem;
}
.balance .value {
    font-size: 2rem;
    line-height: 2rem;
    text-align: right;
}
